#register-form{
    background-color: #AABB22;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    text-align: center;
}
#register-form *{
    display: block;
    margin-left: auto;
    margin-right: auto;
}